.about {
  /* padding: 2rem 0;
  margin: auto 200px; */
  background: rgba(255, 255, 255, 0.9);
  max-width: 800px;
  margin: 150px auto;
  /* background-color: white; */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  color: var(--secondary-color);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.content p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.tilt {
  background: rgba(255, 255, 255, 0.9);
  padding: 50px;
  border-radius: 10px;
}
.description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}
